html {
  font-family: 'Open Sans', sans-serif;
  direction: rtl;
}

body {
  background-color: hsl(220, 26%, 13%);
  padding-block: 25px 80px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;

  @media screen and (max-width: 550px) {
    row-gap: 10px;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;

  @media screen and (max-width: 900px) {
    row-gap: 40px;
  }
}

.page-title {
  font-size: 120px;
  font-weight: 800;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;

  @media screen and (max-width: 1150px) {
    font-size: 15vw;
  }
}

.sub-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  width: 750px;
  
  @media screen and (max-width: 800px) {
    row-gap: 45px;
    width: fit-content;
    padding-inline: 30px;
  }
}

blockquote {
  padding: 0;
  margin: 0;
}

.quote {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: hsl(0, 0%, 85%);
  padding: 0;
  margin: 0;
  padding-block-end: 10px;

  @media screen and (max-width: 900px) {
    font-size: 1.4rem;
  }
}

blockquote figcaption, time {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(0, 0%, 70%);
  padding: 0;
  margin: 0;
}

.call-to-action {
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.call-to-action a {
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #d50047;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0;
  border-radius: 3px;
  letter-spacing: 0.05rem;
  
  @media screen and (max-width: 900px) {
    font-size: 1.4rem;
  }
  
  @media screen and (max-width: 500px) {
    font-size: 1.2rem;
  }
}

.call-to-action a:hover, a:active {
  filter: brightness(1.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.call-to-action a:visited, a:focus {
  filter: brightness(1);
  box-shadow: none;
}

.line-break {
  display: block;

  @media screen and (max-width: 550px) {
    display: none;
  }
}

.cta-description {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(0, 0%, 65%);
  padding: 0;
  margin: 0;
  text-align: center;
  margin-block-start: 3px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .victim-count {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(0, 0%, 65%);
  padding: 0;
  margin: 0;
  text-align: center;
  margin-block-start: 3px;
} */

#victims {
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 250px);
  gap: 40px;
  margin-block-start: 40px;
  
  @media screen and (max-width: 1550px) {
    grid-template-columns: repeat(4, 250px);
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 250px);
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(2, 250px);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
    padding-inline: 60px;
  }
  
  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    padding-inline: 0px;
    gap: 0px;
    border-block-start: 1px solid hsl(0, 0%, 100%, 0.1);
  }
}

.victim {
  background-color: hsl(223.33deg, 25%, 17%);
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  border: 1px solid hsla(340, 100%, 42%, 40%);
  
  @media screen and (max-width: 500px) {
    padding: 30px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    border-block-end: 1px solid hsl(0, 0%, 100%, 0.1);
    background-color: transparent;
  }
}

.victim:hover {
  box-shadow: 0 0px 28px hsla(340, 100%, 42%, 0.3), 0 0px 10px hsla(340, 100%, 42%, 0.5);
  border: 1px solid hsl(340, 100%, 42%);
  filter: brightness(1.2);

  @media screen and (max-width: 500px) {
    box-shadow: none;
    border: none;
    border-block-end: 1px solid hsl(0, 0%, 100%, 0.1);
    filter: brightness(1);
  }
}

.victim-texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
  font-size: 0.9rem;
}

.name {
  color: hsla(0, 0%, 100%, 0.8);
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 500px) {
    font-size: 1.2rem;
  }
}

.name img {
  width: 24px;
  margin-inline-end: 10px;
  top: 5px;
  position: relative;
}

.from {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.8rem;
  font-weight: 700;

  @media screen and (max-width: 500px) {
    font-size: 1rem;
  }
}

.position {
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 0.9rem;

  @media screen and (max-width: 500px) {
    font-size: 1.1rem;
  }
}

.description {
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 0.9rem;

  @media screen and (max-width: 500px) {
    font-size: 1.1rem;
  }
}

.send-div {
  cursor: pointer;
  font-weight: 600;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  font-size: 0.9rem;
  width: fit-content;
  border: none;
  color: hsl(126.56deg 53.78% 48%);
  
  @media screen and (max-width: 500px) {
    margin-block-start: 5px;
    font-size: 1rem;
  }
}

.send-div img {
  width: 26px;
}

.victims-list-update-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: hsl(0, 0%, 60%);
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px 30px;
  padding-inline: 30px;
  text-align: center;
  align-items: flex-end;
  
  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 10px 0px;

  }
}

.email a{
  color: hsl(0, 0%, 75%);
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
